            <li>
                <div class="ability-box">
                    <div class="ability-icon-container">
                        <span class="helper"></span><img class="ability-icon"
                                                         src="../../img/ability-icons/{ability_pic}.png"
                                                         alt="{ability_name}">
                    </div>
                    <div class="ability-details-container">
                        <div class="ability-header">
                            {ability_name}
                            <div class="keybind">
                                {ability_keybind}
                            </div>
                        </div>
                        <div class="ability-stats">
                            {ability_stats}
                        </div>
                    </div>
                </div>
            </li>
